<ion-content>

  <form [formGroup]="customerForm" class="container-fluid form">
    <div class="form-group">
      <label>Customer id</label>
      <input type="text" class="form-control" placeholder="Customer id" formControlName="customer_id">
    </div>
    <div class="form-group">
      <label>Customer name</label>
      <input type="text" class="form-control" style="text-transform: capitalize;" placeholder="Customer name" formControlName="customer_name">
    </div>
    <div class="form-group">
      <label >Type</label>
      <select class="form-control" formControlName="customer_type" >
        <option *ngFor="let type of types" value="{{type.value}}">
          {{type.name}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label >Balance</label>
      <input type="number" class="form-control" placeholder="Balance" formControlName="balance">
    </div>
    <div class="form-group">
      <label >Phone</label>
      <input type="tel" class="form-control" placeholder="Phone number" formControlName="phone">
    </div>
    <div class="form-group">
      <label >Email</label>
      <input type="email" class="form-control" placeholder="Email" formControlName="email" />
    </div>
    <div class="form-group">
      <label >Address</label>
      <input type="text" class="form-control" placeholder="Address" formControlName="address" />
    </div>

    <div class="form-group">
      <label>Status</label>
      <select class="form-control"  formControlName="status">
        <option *ngFor="let status of statues" value="{{status.value}}">
          {{status.name}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label>Account number</label>
      <input type="number" class="form-control" placeholder="Account number" formControlName="acount_number" />
    </div>
    <div class="form-group">
      <label for="name">Gender</label>
      <select class="form-control" formControlName="gender">
        <option *ngFor="let gender of genders" value="{{gender.value}}">
          {{gender.name}}
        </option>
      </select>
    </div>
    
    <button *ngIf="props.role == 'ADD'" [disabled]="customerForm.status !== 'VALID'"  type="submit" class="btn btn-primary" (click)="addNew()">Add new</button>
    <button *ngIf="props.role == 'MODIFY'" [disabled]="customerForm.status !== 'VALID'"  class="btn btn-primary" (click)="modify()">Modify</button>
    <button class="btn btn-secondary" style="margin-left: 20px;" (click)="cancel()">Cancel</button>
  </form>

</ion-content>