<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-menu-button>  </ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">User Info</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div *ngIf="userInfo !== null" class="card user-info" style="width:200px">
    <img class="card-img-top user-info__avatar" src="{{userInfo.picture.data.url}}" alt="Card image">
    <div class="card-body">
      <h4 class="card-title">{{userInfo.name}}</h4>
      <h4 class="card-title">{{userInfo.birthday}}</h4>
      <p class="card-text">{{userInfo.gender}}</p>
    </div>
  </div>
</ion-content>