<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-menu-button>  </ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Charts & Graphs</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="container">

  <div style="padding-top: 50px;">
  </div>

  <div id="typeContaner" style="height: 400px;width: 50%; margin-left:auto;margin-right:auto;" class="type"></div>
  <br />
  <br />
  <hr />
  <div id="balanceContaner" style="height: 400px;width: 50%; margin-left:auto;margin-right:auto;" class="type"></div>
  <br />
  <br />
  <hr />
  <div id="genderContaner" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>

  <div style="padding-bottom: 50px;">
  </div>


</ion-content>
