.login{
    padding-top: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__zalo-button {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        min-width: 200px;
        min-height: 50px;
    }
}