<ion-header>
  <ion-toolbar color="primary" >
    <ion-title style="text-align: center;">Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div class="container login">
    <ion-button class="login__zalo-button" color="primary" (click)="zaloLogin()" >
      <img src="assets/icon/zalo.svg" />
      <span style="flex: 1;">
        Zalo login
      </span>
    </ion-button>
  </div>


</ion-content>