<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-menu-button>  </ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Customer Table</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container-fluid container--utils">
    <div class="utils__select">
      <div class="dropdown" style="margin-left: 10px;">
        <button type="button" class="btn btn-primary" (click)="addNewCustomer()">
          Add new customer
        </button>
      </div>
      <div class="dropdown" style="margin-left: 10px;">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          Export all
        </button>
        <div class="dropdown-menu">
          <div class="dropdown-item" (click)="exportAll()">Excel</div>
          <div class="dropdown-item" (click)="pdfExport()">Pdf</div>
        </div>
      </div>
      <div class="dropdown" style="margin-left: 10px;">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          Export selected
        </button>
        <div class="dropdown-menu">
          <div class="dropdown-item" (click)="exportSelected()">Excel</div>
          <div class="dropdown-item" (click)="pdfExportSelected()">Pdf</div>
        </div>
      </div>
    </div>
    <ion-searchbar class="utils__search" (ionChange)="searchChange($event)"></ion-searchbar>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th *ngFor="let head of tableHead" (click)="chooseSort(head.name)">
            <div class="table-head">
              <span>
                {{head.lable}}
              </span>
              <div style="width: 10px;">
                <div *ngIf="sortSelect === head.name">
                  <button *ngIf="sortType === 'IN'" type="button" class="close">&uarr;</button>
                  <button *ngIf="sortType === 'DE'" type="button" class="close">&darr;</button>
                </div>
              </div>
            </div>
          </th>
          <th style="display: flex;
                      flex-direction: column;
                      justify-content: center;
                      align-items: center;">
            <span>
              Select
            </span>
            <ion-checkbox color="primary" (ionChange)="selectAll($event)"></ion-checkbox>
          </th>
          <th>
          </th>
          <th>
          </th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let firebaseCustomer of searchResult">
          <td scope="row">{{firebaseCustomer.customer.customer_id}}</td>
          <td scope="row">{{firebaseCustomer.customer.customer_name}}</td>
          <td scope="row">
            <span *ngIf="firebaseCustomer.customer.customer_type === 'Vip'"
              class="badge badge-warning">{{firebaseCustomer.customer.customer_type}}</span>
            <span *ngIf="firebaseCustomer.customer.customer_type === 'Loyal'"
              class="badge badge-danger">{{firebaseCustomer.customer.customer_type}}</span>
            <span *ngIf="firebaseCustomer.customer.customer_type === 'Normal'"
              class="badge badge-success">{{firebaseCustomer.customer.customer_type}}</span>
            <span *ngIf="firebaseCustomer.customer.customer_type === 'New'"
              class="badge badge-secondary">{{firebaseCustomer.customer.customer_type}}</span>
          </td>
          <td scope="row">{{firebaseCustomer.customer.balance}}</td>
          <td scope="row">{{firebaseCustomer.customer.phone}}</td>
          <td scope="row">{{firebaseCustomer.customer.email}}</td>
          <td scope="row">{{firebaseCustomer.customer.address}}</td>
          <td scope="row">
            <span *ngIf="firebaseCustomer.customer.status === 'Active'"
              class="badge badge-success">{{firebaseCustomer.customer.status}}</span>
            <span *ngIf="firebaseCustomer.customer.status === 'Inactive'"
              class="badge badge-secondary">{{firebaseCustomer.customer.status}}</span>
          </td>
          <td scope="row">{{firebaseCustomer.customer.acount_number}}</td>
          <td scope="row">{{firebaseCustomer.customer.gender}}</td>
          <td scope="row" style="text-align: center;">
            <ion-checkbox [checked]="checkSelect(firebaseCustomer)" color="primary"
              (ionChange)="changeItem($event, firebaseCustomer)"></ion-checkbox>
          </td>
          <td scope="row">
            <button type="button" class="btn btn-primary" (click)="modify(firebaseCustomer)">Modify</button>
          </td>
          <td scope="row">
            <button type="button" class="btn btn-warning" (click)="delete(firebaseCustomer)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</ion-content>