.container--utils{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    .utils__select{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .utils__search{
        width: 35%;
    }
}
.table-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}