<!-- <ion-header>
  <ion-toolbar>
    <ion-title>zalo-callback</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div style="position: absolute; top: 45%; width: 100%; display: flex; flex-direction: row; justify-content: center;">
    <img src="assets/image/loading.gif"/>
  </div>
  
</ion-content>
